.section-header {
  position: relative;
  height: 50px;
  background: var(--header-background-color);
  border-bottom: var(--header-border-color) 1px solid;
  padding: 3px 20px 0;

  h1 {
    padding: 0;
    line-height: 50px;
  }

  .logo {
    display: inline-block;
    width: 130px;
    height: 43px;
    //background-image: url("../../asset/img/logo.png");
    background-size: 130px;
    text-indent: -9999em;
    color: transparent;
  }

  .area-btn {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
      font-size: 2rem;
      margin-left: 10px;
      color: var(--header-toggle-color);
    }
  }
}
